[submodule "apps/astro-frontend"]
	path = apps/astro-frontend
	url = https://github.com/Renzott/astro-coding-challenge-2026.git
[submodule "apps/express-api"]
	path = apps/express-api
	url = https://github.com/Renzott/express-coding-challenge-2026.git
[submodule "apps/fiber-api"]
	path = apps/fiber-api
	url = https://github.com/Renzott/golang-coding-challenge-2026.git
